{:site-title           "slowcod's blog"
 :author               "Paolo Piersanti"
 :description          "Notes, thoughts about software & more..."
 :site-url             "http://paolopiersanti.it"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts-output"
 :page-root-uri        "pages-output"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :public-dest          "public"
 :blog-prefix          "/blog"
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "nucleus"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              true
 :disqus-shortname     "paolopiersanti"
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls           :trailing-slash
 :collapse-subdirs?    false
 :hide-future-posts?   true
 :klipse               {}
 :debug?               true}
